@defer(on timer(500ms)) {
<p-table
  [columns]="getColumns()"
  [value]="getUsers()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [loading]="loading"
  styleClass="p-datatable-gridlines"
  [resizableColumns]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for(col of columns; track $index) {
      <th class="text-md uppercase" pResizableColumn>
        {{ col.header }}
      </th>
      }
      <th [width]="'5%'" class="text-center text-md uppercase">Edit</th>
      <th [width]="'5%'" class="text-center text-md uppercase">Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    @defer (when !loading && items().length) {
    <tr>
      @for(col of columns; track $index) {
      <td>{{ rowData[col.field] || "-" }}</td>
      }
      <td>
        <p-button
          severity="info"
          size="small"
          [label]="actionButton.edit"
          (click)="onClickActionBtn('edit', rowData)"
          styleClass="custom-button"
        ></p-button>
      </td>
      <td>
        <p-button
          severity="danger"
          size="small"
          [label]="actionButton.delete"
          (click)="onClickActionBtn('delete', rowData)"
          styleClass="custom-button"
        ></p-button>
      </td>
    </tr>
    }
  </ng-template>
</p-table>

@defer (when enablePagination) {
<div class="col-12 w-full">
  <div
    class="flex sm:align-items-start md:align-items-center column-gap-1 row-gap-1"
  >
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="<<"
        class="p-button-text p-button-sm p-button-secondary"
        id="firstPage"
        [disabled]="getPagination().firstPage === getPagination().currentPage"
        (click)="onPaginatePage('firstPage')"
      ></button>
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="Prev"
        class="p-button-text p-button-sm p-button-secondary"
        my-1
        id="prevPage"
        [disabled]="!getPagination().prevPage"
        (click)="onPaginatePage('prevPage')"
      ></button>
    </div>
    <div class="flex flex-wrap column-gap-1 row-gap-1">
      <button
        *ngFor="let page of pageNumbers"
        pButton
        type="button"
        class="p-button-text p-button-sm text-white"
        [disabled]="getPagination().totalPages === 1"
        [ngClass]="{
          'surface-500': getPagination().currentPage == page,
          'bg-teal-500': getPagination().currentPage != page
        }"
        [style]="{ width: '50px' }"
        (click)="onPageChange(page)"
        label="{{ page }}"
      ></button>
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="Next"
        class="p-button-text p-button-sm p-button-secondary"
        id="nextPage"
        [disabled]="!getPagination().nextPage"
        (click)="onPaginatePage('nextPage')"
      ></button>
    </div>
    <div>
      <button
        pButton
        pRipple
        type="button"
        label=">>"
        class="p-button-text p-button-sm p-button-secondary my-1"
        [disabled]="getPagination().lastPage === getPagination().currentPage"
        (click)="onPaginatePage('lastPage')"
      ></button>
    </div>
    <div>
      <!-- <p-dropdown
          [options]="rows"
          [(ngModel)]="maxRow"
          optionLabel="name"
          (onChange)="selectedRow()"
        ></p-dropdown> -->
    </div>
  </div>
</div>
} }
