<div
  class="col-12 w-full flex flex-column align-items-center justify-content-start gap-2"
>
  @if (messages.length) {
  <div class="col-12">
    <p-messages
      [(value)]="messages"
      [enableService]="false"
      [closable]="true"
    />
  </div>
  }
  <div class="col-12">
    <app-feature-detail-header title="Patient Information">
      @if (paramsId) {
      <button
        type="button"
        pButton
        class="{{ editBtnSeverity }} custom-button"
        [label]="editBtnLabel"
        [icon]="editIconBtn"
        (click)="toggleLock()"
      ></button>
      } @if (!isEdit()) {
      <button
        type="submit"
        pButton
        form="patient-form"
        class="p-button-primary custom-button"
        label="Save"
        icon="pi pi-save"
        [disabled]="!isInvalidForm"
      ></button>
      }
    </app-feature-detail-header>
  </div>
  <div class="col-12 h-1rem surface-200 w-full"></div>
  <div class="col-12">
    <app-patient-form-container
      (onFormSubmit)="onSave($event)"
      formId="patient-form"
      (onTrackChanges)="onTrack($event)"
      [patient]="patient"
      [isLock]="isEdit"
    />
  </div>
  <div class="col-12 h-1rem surface-200 w-full"></div>
  @defer (when showTestHistory) {
  <div
    class="col-12 flex flex-column align-items-center justify-content-center"
  >
    <div class="col-12">
      <app-feature-detail-header title="Test History" [showBackBtn]="false" />
    </div>
    <div class="col-12">
      <app-search
        (search)="onSearch($event)"
        [placeholder]="'Search by transaction no ...'"
      />
    </div>
    <div class="col-12">
      <app-feature-table
        [items]="tests"
        [cols]="cols"
        tableSize="large"
        (paginatePage)="onPaginatePage($event)"
        (pageChanged)="onPageChange($event)"
        [enablePagination]="true"
        [pagination]="pagination"
        (actionBtn)="onClickActionBtn($event)"
        [actionButton]="actionButton"
        [showActionBtn]="showActionBtn"
      />
    </div>
  </div>
  }
</div>
