<div class="col-12 w-full">
  <form class="w-full" [formGroup]="changePasswordForm">
    <div
      class="col-12 flex flex-column justify-content-start align-items-center"
    >
      <div class="col-12">
        <label for="name"> New Password</label>
        <input
          type="password"
          pInputText
          placeholder="Enter new password"
          class="w-full mt-2"
          formControlName="password"
        />
        @if (changePasswordForm.controls["password"].errors?.["required"] &&
        changePasswordForm.controls["password"].dirty) {
        <small class="text-red-500">Password is required</small>
        }@else if (changePasswordForm.controls["password"].errors?.["minlength"]
        && changePasswordForm.controls["password"].dirty) {
        <small class="text-red-500"
          >Password must be at least 8 characters long.</small
        >
        } @else if (changePasswordForm.controls["password"].errors?.["pattern"])
        {
        <small class="text-red-500"
          >Password must contain at least one uppercase and one numeric
          character. (eg. Example123)
        </small>

        }
      </div>
      <div class="col-12">
        <label for="name"> Confirm Password </label>
        <input
          type="password"
          pInputText
          placeholder="Confirm password"
          class="w-full mt-2"
          formControlName="confirmPassword"
        />
        @if (changePasswordForm.controls["confirmPassword"].errors?.["required"]
        && changePasswordForm.controls["confirmPassword"].dirty) {
        <small class="text-red-500">Confirm password field is required</small>
        }@else if (
        changePasswordForm.controls["confirmPassword"].errors?.['passwordMismatch']
        && changePasswordForm.controls["confirmPassword"].dirty) {
        <small class="text-red-500">Invalid confrim password</small>
        }
      </div>
      <div class="col-12">
        <p-button
          severity="info"
          label="Save"
          styleClass="w-full text-center"
          (click)="onSave()"
          [disabled]="changePasswordForm.invalid"
        />
      </div>
    </div>
  </form>
</div>
