<div
  class="col-12 flex flex-column justify-content-start align-items-center w-full"
>
  @if (messages.length) {
  <div class="col-12">
    <p-messages
      [(value)]="messages"
      [enableService]="false"
      [closable]="true"
    />
  </div>
  }

  <div class="col-12">
    <app-feature-header
      title="Urinalysis Table"
      buttonSize="large"
      (onClickActionButton)="add($event)"
    />
  </div>

  <div class="col-12">
    <app-search
      (search)="onSearch($event)"
      [placeholder]="'Search by patient last name ...'"
    />
  </div>
  <div class="col-12">
    <app-feature-table
      [items]="urinalysis"
      [cols]="cols"
      tableSize="large"
      (paginatePage)="onPaginatePage($event)"
      (pageChanged)="onPageChange($event)"
      [enablePagination]="true"
      [pagination]="pagination"
      (actionBtn)="onClickActionBtn($event)"
      [actionButton]="actionButton"
    />
  </div>
</div>
