@if (isLoaded) {
<div
  class="col-12 w-full flex flex-column justify-content-start align-items-center"
>
  <div class="col-12">
    <p class="text-lg font-semibold text-500 uppercase">Dashboard</p>
  </div>
  <div class="col-12 flex justify-content-center align-items-center flex-wrap">
    <div
      class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer px-2"
    >
      <app-card
        icon="pi pi-user-plus"
        title="patient"
        [content]="stats.patient"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-filter-slash"
        title="test"
        [content]="stats.test"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-users"
        title="staff"
        [content]="stats.staff"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-hammer"
        title="apparatus"
        [content]="stats.apparatus"
      ></app-card>
    </div>
  </div>
  <div class="col-12 flex justify-content-start align-items-stretch flex-wrap">
    <div class="col-12 sm:col-12 md:col-12 lg:8 xl:col-8">
      <app-barchart [max]="stats.test"></app-barchart>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:4 xl:col-4">
      <app-doughnut></app-doughnut>
    </div>
  </div>
  <div class="col-12 flex justify-content-center align-items-center gap-2">
    <div class="col-12 h-15rem surface-200 border-round"></div>
  </div>
</div>
}
