@defer (when isLoaded) {
<div
  class="col-12 w-full flex flex-column justify-content-start align-items-center"
>
  <div class="col-12">
    <p class="text-lg font-semibold text-500 uppercase">Dashboard</p>
  </div>
  <div class="col-12 flex justify-content-center align-items-center flex-wrap">
    <div
      class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer px-2"
    >
      <app-card
        icon="pi pi-user-plus"
        title="patient"
        [content]="stats.patient"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-filter-slash"
        title="test"
        [content]="stats.test"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-users"
        title="User"
        [content]="stats.staff"
      ></app-card>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 cursor-pointer">
      <app-card
        icon="pi pi-hammer"
        title="apparatus"
        [content]="stats.apparatus"
      ></app-card>
    </div>
  </div>
  <div class="col-12 flex justify-content-start align-items-stretch flex-wrap">
    <div class="col-12 sm:col-12 md:col-12 lg:8 xl:col-8">
      <app-barchart
        [response]="laboratory"
        (selectedYear)="onSelectYear($event)"
      ></app-barchart>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:4 xl:col-4">
      <app-doughnut [_chartData]="stockControl"></app-doughnut>
    </div>
  </div>

  <div class="col-12 flex justify-content-start align-items-stretch flex-wrap">
    <div class="col-12 sm:col-12 md:col-12 lg:8 xl:col-8">
      <div class="co-12 shadow-2 border-round p-5">
        <p class="font-semibold text-1xl uppercase mb-5">
          10 Recent Transaction
        </p>
        <app-feature-table
          [items]="test"
          [cols]="cols"
          tableSize="large"
          [showActionBtn]="showActionBtn"
        />
      </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:4 xl:col-4">
      <div class="col-12 shadow-2 border-round p-4 h-full">
        <p class="font-semibold text-1xl uppercase mb-5">
          Low Quantity Apparatus
        </p>
        <div class="flex flex-column justify-content-center align-items-center">
          <div class="col-12 flex justify-content-center align-items-center">
            <div class="col-4 font-bold uppercase">Apparatus Name</div>
            <div class="col-4 font-bold uppercase text-center">Quantiy</div>
            <div class="col-4 font-bold uppercase text-center">Unit</div>
          </div>
          @for(item of apparatus(); track $index) {
          <div class="col-12 flex justify-content-center align-items-center">
            <div class="col-4 uppercase">{{ item.apparatus_name }}</div>
            <div class="col-4 text-center text-red-500 font-bold">
              {{ item.quantity }}
            </div>
            <div class="col-4 uppercase text-center">{{ item.unit }}</div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
