.login-image {
  background: url("./../../../../assets/image/undraw_medicine.svg") no-repeat
    center center;
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;
}
