<div class="col-12 border-round shadow-2">
  <div class="col-12 flex justify-content-between align-items-center flex-wrap">
    <div class="title">
      <p class="m-0 text-1xl">Laboratory Statistics</p>
    </div>
    <div>
      <p-calendar
        styleClass="w-full"
        dateFormat="yy"
        view="year"
        [(ngModel)]="currentYear"
        [maxDate]="maxDate"
        (ngModelChange)="onSelectYear()"
      />
    </div>
  </div>
  <div class="chart-container">
    <div class="container">
      <p-chart type="bar" [data]="data" [options]="options" height="338px" />
    </div>
  </div>
</div>
